.clothes-names-grp-left,
.clothes-names-grp-middle,
.clothes-names-grp-right {
  width: 100%;
  //   border: 2px solid;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  .inner {
    margin-top: 60px;

    .btn-wrapper {
      display: block;
      width: fit-content;

      .cloth-name-left-btn {
        // border: 2px solid red;
        margin-bottom: 10px;

        &:hover {
          transform: scale(1.08);
          // border: 1.5px solid white;
          background: rgba(128, 128, 128, 0.353);
        }
        span {
          color: black;
          font-size: larger;
        }
      }
    }
  }
}
